.App {
  text-align: center;
}

.SearchInput input {
  height: 20px;
  font-size: 12pt;
}

.SearchDisplay {
  margin: auto;
  margin-top: 5px;
  width: 250px;
  border: 1px solid #000000;
  z-index: 1;
  background: #ffffff;
}

.SearchDisplayItem{
  padding: 5px;
  border-top: 1px solid #000000;
  cursor: pointer;
}

.SearchDisplayItem:hover { 
  padding: 5px;
  background: #000000;
  color: #ffffff;
}

.SearchDisplayItemActive { 
  padding: 5px;
  background: #000000;
  color: #ffffff;
}